<div class="shopping-cart">
  <%= render "shopping_cart" %>
</div>
<hr>
<div>
  <%= link_to "Checkout now", checkout_payments_path, class: "btn btn-success check-out-btn" %>
</div>
<div class="clearfix"></div>
