<div class="page-banner" style="padding:40px 0; background: url(assets/slide-02-bg.jpg) center #f9f9f9;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>About Us</h2>
        <p>We Are Professional</p>
      </div>
      <div class="col-md-6">
        <ul class="breadcrumbs">
          <li><%= link_to "Home", root_url %></li>
          <li>About Us</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="content">
  <div class="container">
    <div class="page-content">
      <div class="row">
        <div class="col-md-7">
          <h4 class="classic-title"><span>Welcome To Our Agency</span></h4>
          <p>AssessBR Ltd is a company registered at UAE in JUL 2015. Its ownership is in the hands of visionary leadership that owns desired qualification, skills and experience of the business information industry. AssessBR Ltd comprises of a team of members that belongs to net work spread worldwide but knitted in one unit to achieve its objectives with the help of its world-wide partners. AssessBR has sourced professionals from the world where human resource is cheap but skilled to perform the regular tasks of the business. AssessBR Leadership works with the policy of.</p>
          <ul class="c-content-list-1 c-theme c-font-uppercase">
            <li>
                Critical Thinking &amp; Problem Solving
            </li>
            <li>
                Communicating with Impact
            </li>
            <li>
                Risk Taking and Innovation
            </li>
             <li>
                Collaboration &amp; Proactive Networking
            </li>
          </ul>
        </div>
      </div>
      <div class="hr1" style="margin-bottom:50px;"></div>
    </div>
  </div>
</div>
