<div class="page-banner" style="padding:40px 0; background: url(assets/slide-02-bg.jpg) center #f9f9f9;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Market Overview</h2>
        <p>We Are Professional</p>
      </div>
      <div class="col-md-6">
        <ul class="breadcrumbs">
          <li><%= link_to "Home", root_url %></li>
          <li>Market Overview</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="content">
  <div class="container">
    <div class="page-content">
      <div class="row">
        <div class="col-md-7">
          <h4 class="classic-title"><span>Welcome To Our Agency</span></h4>
          <p>Lorem Ipsum is simply dummy text of the <a title="Simple Tooltip" href="#" class="itl-tooltip" data-placement="top">printing</a> and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
          <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Sed ut perspiciatis unde omnis iste natus error sit volup accusantium. Lorem ipsum dolor sit amet, consectetur.</p>
        </div>
      </div>

      <div class="hr1" style="margin-bottom:50px;"></div>
      <%= render 'clients' %>
    </div>
  </div>
</div>
