<div>
<%= link_to "#{current_order.order_items.size} Items in Cart ( #{number_to_currency current_order.total_price} )", cart_path, class: "pull-right", method: :get if current_order.order_items.present? %>
</div>
<div class="clearfix"></div>
