<footer class="footer">
  <small>
    <p>&copy; abr.com <%= Time.now.year %></p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
