<div class="section purchase">
  <div class="container">
    <div class="text-center">
      <h1 class="fittext uppercase">
        Accurate Reports are provided for <br/>Business, Agency by <strong>AssessBR</strong> to perfect assessments
      </h1>
      <a href="javascript:;" class="btn-system btn-large back-to-home"><i class="fa fa-tasks"></i> Check Out Now</a>
      <%= link_to "Learn More About Us", '/about', class: "btn-system btn-large btn-wite" %>
    </div>
  </div>
</div>
